<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.weqa">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".ui.WeqaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/weqa_launcher_black"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/weqa_launcher_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BuildingSelectionActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.FloorPlanActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.TestActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".ui.LandingScreenActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ui.ErrorHandlerActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.ProfileActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".widget.ContinuousCaptureActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".widget.CustomQRScannerActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ui.TeamSummaryActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.CreateTeamActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.TeamDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.ConnectOrgActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.RegistrationActivity"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".ui.GuestUserActivity"
            android:screenOrientation="sensorPortrait"></activity>
        <activity
            android:name=".ui.ExistingUserActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.TeamMemberScanActivity"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>